asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.10
config==0.5.1
Django==4.0.4
django-countries==7.2.1
django-jazzmin==2.4.8
fontawesome-free==5.15.4
fontawesomefree==5.15.4
idna==3.3
Pillow==9.0.0
python-decouple==3.5
requests==2.27.1
sqlparse==0.4.2
stripe==2.65.0
tzdata==2021.5
urllib3==1.26.8