{% extends 'base.html' %}

{% block current_tab %}Author's Detail - {{ author.full_name }}{% endblock current_tab %}

{% block body %}
    <div>Some text</div>
    <div class="container">
        <div class="row m-auto">
        {% for paint in paintings %}
            <div class="col-4 m-5 card" style="width: 20rem;">
                <img src="/static/products/{{paint.title}}.jpg" class="card-img-top" alt="{{paint.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{paint.title}}</h5>
                    <p class="card-text">{{ paint.description }}</p>
                    <p class="card-text"><em>{{ paint.category }}</em></p>
                    <a href="{% url 'paint:detail' paint.pk %}" class="btn btn-primary">View details</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock body %}