{% extends 'base.html' %}

{% block current_tab %}Your cart{% endblock current_tab %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="list-group">
                    {% for item in items %}
                        <label class="list-group-item">
                            <div class="row">
                                <div class="col">
                                    <img src="/static/products/{{item.item.title}}.jpg" class="card-img-top" alt="{{item.title}}" width="64">
                                </div>
                                <div class="col">
                                    <h6>{{item.item.title}}</h6>
                                </div>
                                <div class="col">
                                    <h6>{{item.quantity}}</h6>
                                </div>
                                <div class="col">
                                    <h6>{{item.total_item_price}}</h6>
                                </div>
                                <div class="col">
                                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"><span></span></button>
                                </div>
                            </div>
                        </label>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <h4 class="text-center">Total order</h4>
                <h6 class="text-bold text-center">
                    Items: {{total_items}}
                </h6>
                <h5 class="text-bold text-center">
                    {{total_price}}
                </h5>
                <button class="btn btn-success">Submit order</button>
            </div>
        </div>
    </div>
{% endblock body %}