{% extends 'base.html' %}

{% block current_tab %}Order Summary{% endblock current_tab %}

{% block body %}
<main>
    <div class="container">
        <div class="table-responsive text-nowrap">
            <table class="table w-75 m-auto">
                <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col" class="text-center">Price</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col" class="text-center">Total Item Price</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                <tr>
                    <th scope="row">
                        <img src="/static/products/{{item.item.title}}.jpg" alt="{{item.title}}" width="64">
                    </th>
                    <td>{{item.item.title}}</td>
                    <td class="text-center">{{ item.item.price }}</td>
                    <td class="text-center">
                        <a href="{% url 'cart:remove' item.item.pk %}"><i class="fas fa-minus mr-2"></i></a>
                        <span class="p-2">{{item.quantity}}</span>
                        <a href="{% url 'cart:add' item.item.pk %}"><i class="fas fa-plus ml-2"></i></a>
                    </td>
                    <td class="text-center">
                    <span>{{item.total_item_price}}</span>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan='5'>Your cart is empty</td>
                </tr>
                <tr>
                    <td colspan="5">
                    <a class='btn btn-primary float-right' href="{% url 'homepage' %}">Continue shopping</a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"><b>Order Total</b></td>
                    <td class="text-center"><b>{{total_price}}</b></td>
                </tr>
                <tr>
                    <td colspan="5">
                    <a class='btn btn-success float-right ml-2' href="{% url 'order:checkout' %}">Proceed to checkout</a>
                    <a class='btn btn-primary float-right' href="{% url 'homepage' %}">Continue shopping</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock body %}