{% extends 'base.html' %}

{% block current_tab %}{{ paint.title }}{% endblock current_tab %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/products/{{paint.title}}.jpg" alt="{{paint.title}}" width="600">
            </div>
            <div class="col">
                <h5 class="m-auto">{{paint.title}}</h5>
                <p>{{ paint.description }}</p>
                <p><em>{{ paint.category }}</em></p>
                <form action="{% url 'cart:add' pk %}" method="get">
                    {% csrf_token %}
                <input type="submit" class="btn btn-success m-auto" value="Add to cart">
                </form>
            </div>
        </div>
    </div>
{% endblock body %}